In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

random.seed(10)

In [2]:
data = pd.read_csv('Prepared_data.csv')
data = data.drop(data.columns[0], axis = 1)
data.head()

,Temperature,Relative_Humidity,Wind_Direction,Wind_Direction_StdDev,Wind_Speed_Max,Barometric_Pressure,LoggerTemperature_Avg,Tilt_angle,Week,Day,Hour
0,22.099333,95.903333,103.098333,10.988067,2.089033,944.433333,22.502500,88.008333,52,1,5
1,22.025333,96.963333,102.606667,10.368200,1.737867,945.000000,22.325000,75.345667,52,1,6
2,22.704500,95.060000,115.775167,10.569633,1.938767,945.050000,22.747833,62.192833,52,1,7
3,24.008000,88.923333,127.255000,11.344400,2.190300,945.133333,24.765167,48.765333,52,1,8
4,25.171000,83.696667,109.795333,12.732950,2.053100,945.000000,27.221167,35.165167,52,1,9

In [3]:
# Assingning variables
features = data.drop(['Tilt_angle'], axis = 1)
target = data['Tilt_angle']
features.shape,target.shape

((13437, 10), (13437,))

In [4]:
features

,Temperature,Relative_Humidity,Wind_Direction,Wind_Direction_StdDev,Wind_Speed_Max,Barometric_Pressure,LoggerTemperature_Avg,Week,Day,Hour
0,22.099333,95.903333,103.098333,10.988067,2.089033,944.433333,22.502500,52,1,5
1,22.025333,96.963333,102.606667,10.368200,1.737867,945.000000,22.325000,52,1,6
2,22.704500,95.060000,115.775167,10.569633,1.938767,945.050000,22.747833,52,1,7
3,24.008000,88.923333,127.255000,11.344400,2.190300,945.133333,24.765167,52,1,8
4,25.171000,83.696667,109.795333,12.732950,2.053100,945.000000,27.221167,52,1,9
...,...,...,...,...,...,...,...,...,...,...
13432,35.170667,42.978833,141.716333,15.735550,3.660300,939.366667,40.217667,1,31,14
13433,35.068000,42.214500,156.630000,15.610883,4.684400,939.000000,39.447500,1,31,15
13434,34.119000,44.239833,171.056667,15.223500,6.493933,939.000000,37.523000,1,31,16
13435,32.557667,47.682333,178.550000,15.228467,6.039967,939.400000,35.025500,1,31,17
13436,29.424167,60.539333,201.433333,13.406000,7.469500,940.866667,32.482833,1,31,18

In [5]:
# Splitting data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, target,
                                                                            test_size = 0.4,random_state=True,shuffle=False)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (8062, 10)
Training Labels Shape: (8062,)
Testing Features Shape: (5375, 10)
Testing Labels Shape: (5375,)

In [6]:
train_features

,Temperature,Relative_Humidity,Wind_Direction,Wind_Direction_StdDev,Wind_Speed_Max,Barometric_Pressure,LoggerTemperature_Avg,Week,Day,Hour
0,22.099333,95.903333,103.098333,10.988067,2.089033,944.433333,22.502500,52,1,5
1,22.025333,96.963333,102.606667,10.368200,1.737867,945.000000,22.325000,52,1,6
2,22.704500,95.060000,115.775167,10.569633,1.938767,945.050000,22.747833,52,1,7
3,24.008000,88.923333,127.255000,11.344400,2.190300,945.133333,24.765167,52,1,8
4,25.171000,83.696667,109.795333,12.732950,2.053100,945.000000,27.221167,52,1,9
...,...,...,...,...,...,...,...,...,...,...
8057,14.575000,76.078000,128.648333,13.304933,4.620700,957.050000,15.007833,42,21,6
8058,14.967167,71.443167,136.320000,13.899067,5.599167,957.850000,15.555167,42,21,7
8059,16.071833,60.259667,147.641667,14.362333,6.152900,958.000000,16.813667,42,21,8
8060,18.334833,50.221833,136.120000,14.315833,6.956367,957.766667,20.612333,42,21,9
8061,19.635000,46.787000,149.183333,14.613000,6.727833,957.133333,24.325333,42,21,10

In [7]:
# plt.xticks(rotation=45)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))

train_features = scaler.fit_transform(train_features)
test_features = scaler.fit_transform(test_features)

In [8]:
train_features

array([[0.42561938, 0.95816049, 0.2658771 , ..., 1.        , 0.        ,
        0.        ],
       [0.42345874, 0.96940729, 0.26434198, ..., 1.        , 0.        ,
        0.07692308],
       [0.44328897, 0.94921256, 0.3054576 , ..., 1.        , 0.        ,
        0.15384615],
       ...,
       [0.24962919, 0.57997447, 0.40495343, ..., 0.80392157, 0.66666667,
        0.23076923],
       [0.31570398, 0.47347117, 0.36897967, ..., 0.80392157, 0.66666667,
        0.30769231],
       [0.35366609, 0.43702694, 0.40976693, ..., 0.80392157, 0.66666667,
        0.38461538]])

# KNN

In [14]:
# Import the model we are using
from sklearn.neighbors import KNeighborsRegressor

# Instantiate model 
knn_ = KNeighborsRegressor(n_neighbors=8,p=2)

# Train the model on training data
knn_.fit(train_features, train_labels)


# Use the forest's predict method on the test data
predictions_ts_knn = knn_.predict(test_features)
predictions_tr_knn = knn_.predict(train_features)

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from math import sqrt

# Calculate the absolute errors
MAE_ts_knn = mean_absolute_error(test_labels,predictions_ts_knn)
MSE_ts_knn = mean_squared_error(test_labels,predictions_ts_knn)
RMSE_ts_knn = sqrt(mean_squared_error(test_labels,predictions_ts_knn))
r2_ts_knn = r2_score(test_labels,predictions_ts_knn)



# Calculate the absolute errors
MAE_tr_knn = mean_absolute_error(train_labels,predictions_tr_knn)
MSE_tr_knn = mean_squared_error(train_labels,predictions_tr_knn)
RMSE_tr_knn = sqrt(mean_squared_error(train_labels,predictions_tr_knn))
r2_tr_knn = r2_score(train_labels,predictions_tr_knn)


# Print out the mean absolute error (mae)
print('KNN - Mean Absolute Error-test data :', round(MAE_ts_knn, 3))
print('KNN - Mean Square Error-test data:', round(MSE_ts_knn, 3))
print('KNN - Root Mean Square Error-test data:', round(RMSE_ts_knn, 3))
print('KNN - r2-test data:', round(r2_ts_knn, 3))

# Print out the mean absolute error (mae)
print('KNN - Mean Absolute Error-train data:', round(MAE_tr_knn, 3))
print('KNN - Mean Square Error-train data:', round(MSE_tr_knn, 3))
print('KNN - Root Mean Square-Error train data:', round(RMSE_tr_knn, 3))
print('KNN - r2-train data:', round(r2_tr_knn, 3))

KNN - Mean Absolute Error-test data : 5.451
KNN - Mean Square Error-test data: 51.024
KNN - Root Mean Square Error-test data: 7.143
KNN - r2-test data: 0.907
KNN - Mean Absolute Error-train data: 3.923
KNN - Mean Square Error-train data: 26.222
KNN - Root Mean Square-Error train data: 5.121
KNN - r2-train data: 0.946

# SVM

In [15]:
from sklearn.svm import SVR

SVM_r = SVR(kernel='rbf')
SVM_r.fit(train_features, train_labels)

# Use the forest's predict method on the test data
predictions_ts_SVR = SVM_r.predict(test_features)
predictions_tr_SVR = SVM_r.predict(train_features)

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from math import sqrt

# Calculate the absolute errors
MAE_ts_SVR = mean_absolute_error(test_labels,predictions_ts_SVR)
MSE_ts_SVR = mean_squared_error(test_labels,predictions_ts_SVR)
RMSE_ts_SVR = sqrt(mean_squared_error(test_labels,predictions_ts_SVR))
r2_ts_SVR = r2_score(test_labels,predictions_ts_SVR)



# Calculate the absolute errors
MAE_tr_SVR = mean_absolute_error(train_labels,predictions_tr_SVR)
MSE_tr_SVR = mean_squared_error(train_labels,predictions_tr_SVR)
RMSE_tr_SVR = sqrt(mean_squared_error(train_labels,predictions_tr_SVR))
r2_tr_SVR = r2_score(train_labels,predictions_tr_SVR)


# Print out the mean absolute error (mae)
print('SVR - Mean Absolute Error-test data :', round(MAE_ts_SVR, 3))
print('SVR - Mean Square Error-test data:', round(MSE_ts_SVR, 3))
print('SVR - Root Mean Square Error-test data:', round(RMSE_ts_SVR, 3))
print('SVR - r2-test data:', round(r2_ts_SVR, 3))

# Print out the mean absolute error (mae)
print('SVR - Mean Absolute Error-train data:', round(MAE_tr_SVR, 3))
print('SVR - Mean Square Error-train data:', round(MSE_tr_SVR, 3))
print('SVR - Root Mean Square-Error train data:', round(RMSE_tr_SVR, 3))
print('SVR - r2-train data:', round(r2_tr_SVR, 3))

SVR - Mean Absolute Error-test data : 4.495
SVR - Mean Square Error-test data: 45.645
SVR - Root Mean Square Error-test data: 6.756
SVR - r2-test data: 0.917
SVR - Mean Absolute Error-train data: 3.123
SVR - Mean Square Error-train data: 24.424
SVR - Root Mean Square-Error train data: 4.942
SVR - r2-train data: 0.95